mixin picture(classname, path, type, alt) 
  picture(class = classname)
    source(srcset="/img/" + path + ".webp", type="image/webp")
    source(srcset="/img/" + path + "." + type, type=`image/${(type=="jpeg") ? "jpg" : type}`)
    img(src="/img/" + path + "." + type, alt=alt)&attributes(attributes)


mixin worksItem(name, desc, cont, link, linkType, img, device)
  .works__item
    .works__text-wrap
      img.works__logo(src="img/works/"+img+"-logo.png", alt=name+" logo").cover.overflow
      .works__text-grp
        h3.works__name= name 
        p.works__text= desc 
      .works__text-grp
        span.works__heading Role
        p.works__text= cont 
      case linkType
        when 'live'
          a.button.button--small.button--hover-right(href=link)
            span View Live
            img(src="img/icons/arrow-right.svg", alt="")
        when 'demo'
          a.button.button--small.button--hover-right(href=link)
            span View Demo
            img(src="img/icons/arrow-right.svg", alt="")
        when 'video'
          a.button.button--small.button--hover-right(href=link)
            span Watch Demo
            img(src="img/icons/arrow-right.svg", alt="")
        default
          a.button.button--small.button--hover-right(href=link)
            span View Site
            img(src="img/icons/arrow-right.svg", alt="")
    case device 
      when 'pc'
        +picture("works__img", "/works/"+img, "png", name+" PC screenshot").cover
      when 'tablet'
        +picture("works__img works__img--tablet", "/works/"+img, "png", name+" tablet screenshot").cover
      when 'phone'
        +picture("works__img works__img--phone", "/works/"+img, "png", name+" phone screenshot").cover
      default
        .works__img